.about-hero-text {
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    letter-spacing: 3px;
    width: 550px;
    margin-top: -60px;
    text-align: center;
}

#introduction-images {
    margin-top: -125px;
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: #202020;
        padding: 20px;
        width: 695px;
        height: 379px;
    }
}

.intro-img {
    height: 100%;
    object-fit: cover;
}

// Our story
.story-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, calc(50% - 12px));
    grid-template-areas:
    "si mi"
    "so mi"
    "so ov";
    gap: 24px;
}

#mission-img {
    filter: grayscale(1);
}

#si {
    grid-area: si;
}

#so {
    grid-area: so;
}

#mi {
    grid-area: mi;
    position: relative;
}

.mission-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
    height: 100%;
    justify-content: end;
    background-color: rgba(201, 0, 0,0.4);
}

#ov {
    grid-area: ov;
    color: #000;
}

.value-box {
    padding: 24px;
    background: #A1F65E;
}

.story-side {
    display: grid;
    gap: 24px;
    height: 100%;
    width: 100%;
}

.story-head {
    text-align: start;
}

.story-heading {
    justify-content: start;
    text-align: start;
}

.story-short {
    color: #fff;
}

.idk {
    font-size: 24px;
    letter-spacing: 0.75px;
    font-weight: 550;
}

.idk-p {
    font-size: 16px;
    letter-spacing: 0.25px;
    font-weight: 400;
    line-height: 145%;
    margin-top: 10px;
}

.story-long {
    background-color: rgb(30, 30, 30);
    color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

// Our facilities
#facilities {
    position: relative;
    width: 100%;
    height: 425px;
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
    }
}

#facility-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 40%;
    position: absolute;
    z-index: -1;
    outline: none;
    border: none;
}

#facility-bg-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    width: 100%;

    span {
        font-size: 5vw;
        text-transform: uppercase;
        -webkit-text-stroke: 0.5px #fff;
        color: transparent;
    }
}

.play-btn {
    position: absolute;
    bottom: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:before {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    #facilities {
        height: 350px;
    }
}

@media screen and (max-width: 600px) {
    #facilities {
        height: 300px;
    }

    .play-btn {
        width: 50px;
        height: 50px;
    }
}

// Other
@media screen and (max-width: 1280px) {
    #about-hero {
        height: 55vh;
    }

    #introduction-images {
        height: max-content;
        margin-top: -130px;

        .content {
            height: 320px;
            aspect-ratio: 1.833 / 1;
            width: auto;
        }
    }
}

@media screen and (max-width: 1024px) {
    #about-hero {
        height: 50vh;
    }

    #introduction-images .content {
        height: 300px;
    }
}

@media screen and (max-width: 860px) {
    #about-hero {
        height: 45vh;
    }

    #introduction-images {
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    #introduction-images .content {
        height: 280px;
    }
}

@media screen and (max-width: 740px) {
    .story-grid {
        display: flex;
        flex-direction: column;
        grid-template-columns: auto;
        grid-template-areas: auto;
    }

    .story-long,
    .mission-content,
    .value-box {
        padding: 12px;
    }

    .story-grid {
        margin-top: -40px;
    }

    .story-side {
        width: 100%;
    }

    .s-side-top, .s-side-bottom {
        width: 100%;
    }

    .story-head {
        display: none;
        text-align: center;
    }

    .story-heading {
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .story-short {
        display: none;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #about-hero {
        min-height: 375px;
        height: 45vh;
    }

    .about-hero-text {
        width: 100%;
        font-size: 28px;
    }

    #introduction-images .content {
        height: auto;
        width: 90%;
        margin-top: -3vh;
    }
}
