#ready-wrapper {
    width: calc(100vw - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding: 0 20px;
    margin-bottom: 50px;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--red-3);
        padding: 30px 50px;
        transform: skew(-20deg);
    }
}

.ready-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: skew(20deg);
}

.ready-head {
    font-size: 32px;
    letter-spacing: 4.5px;
    font-weight: 550;
    line-height: 28px;
}

.ready-text {
    font-size: 18px;
    width: 550px;
    letter-spacing: 0.5px;
    font-weight: 450;
}

.ready-right {
    transform: skew(20deg);
}

.ready-link {
    padding: 8px 24px;
    border: 2px solid #fff;
    transform: skew(-20deg);
}

.r-l-link {
    text-decoration: none;
}

.r-l-text {
    transform: skew(20deg);
    color: #fff;
    border: none;
    font-size: 18px;
    letter-spacing: 0.75px;
    font-weight: 450;
}

@media screen and (max-width: 1080px) {
    .ready-text {
        width: 480px;
    }
}

@media screen and (max-width: 1000px) {
    .ready-head {
        font-size: 28px;
        line-height: 22px;
    }

    .ready-text {
        width: 400px;
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    #ready-wrapper .content {
        padding: 25px 40px;
    }
}


@media screen and (max-width: 875px) {
    .ready-text {
        width: 350px;
    }
}

@media screen and (max-width: 835px) {
    .ready-left {
        gap: 10px;
    }

    .ready-head {
        font-size: 24px;
        line-height: 20px;
    }

    .ready-text {
        font-size: 14px;
    }

    .ready-link {
        padding: 6px 18px;
    }

    .r-l-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 790px) {
    .ready-text {
        width: 300px;
    }
}


@media screen and (max-width: 750px) {
    #ready-wrapper .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .ready-head {
        text-align: center;
    }

    .ready-text {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 690px) {
    #ready-wrapper {
        width: 100%;
        margin-left: 0;

        .content {
            transform: skew(0);
            padding: 20px;
        }
    }

    .ready-left, .ready-right {
        transform: skew(0);
        width: 100%;
    }

    .ready-head {
        line-height: 30px;
    }

    .ready-link {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .r-l-link {
        width: 100%;
        transform: skew(0);
    }
}

@media screen and (max-width: 400px) {
    .r-l-text {
        font-size: 14px;
    }
}