:root {
    color-scheme: dark;
    --body-bg: #fff;
    --red: #FF0000;
    --red-2: #fa3838;
    --red-3: #c90000;
    --gray: #272727;
    --dark-gray: #eeeeee;
    --facebook: #0863F7;
    --instagram: #9C37AE;
    --twitter: #1C96E8;
    --youtube: #F60002;
}